.site-footer-background{background:#fff}
.site-footer-wrap{margin:0 auto;padding:0 1.41176471em 1.41176471em 1.41176471em;max-width:69.17647059em}
.site-footer-wrap .toggle-trigger,.site-footer-wrap .toggle-trigger:hover{color:#616161;font-size:.7647058823529411em;font-weight:bold}
.site-footer-wrap .links-description{width:114px;float:left}
.site-footer-wrap .links-description h5{color:#616161}
.site-footer-wrap .segmented-list{border-bottom:0}
.site-footer-wrap .desc{float:left;clear:left;margin-top:1.41176471em;font-size:.7647058823529411em;color:#616161}
.site-footer-wrap .links-list ul,.site-footer-wrap .footer-list-container ul,.site-footer-wrap .links-list .footer-list,.site-footer-wrap .footer-list-container .footer-list{margin-left:114px;margin:.70588235em .70588235em 0 6.70588235em}
.site-footer-wrap .links-list ul li,.site-footer-wrap .footer-list-container ul li,.site-footer-wrap .links-list .footer-list li,.site-footer-wrap .footer-list-container .footer-list li{font-size:.7647058823529411em;display:inline-block;margin-right:.70588235em;padding-bottom:0}
.site-footer-wrap .links-list ul li a,.site-footer-wrap .footer-list-container ul li a,.site-footer-wrap .links-list .footer-list li a,.site-footer-wrap .footer-list-container .footer-list li a{color:#616161}
.site-footer-wrap .links-list ul li a:hover,.site-footer-wrap .footer-list-container ul li a:hover,.site-footer-wrap .links-list .footer-list li a:hover,.site-footer-wrap .footer-list-container .footer-list li a:hover{color:#616161}
.site-footer-wrap .links-list ul li span,.site-footer-wrap .footer-list-container ul li span,.site-footer-wrap .links-list .footer-list li span,.site-footer-wrap .footer-list-container .footer-list li span{display:none}
.site-footer-wrap .flag{width:16px;height:0;padding-top:11px;overflow:hidden;display:inline-block;background-image:url(/static/default/default/images/new-footer/flags.png);margin-right:.41176471em;background-size:160px 362px;background-position:0 0;background-repeat:no-repeat}
.site-footer-wrap .flag.at{background-position:-16px -11px}
.site-footer-wrap .flag.au{background-position:-32px -22px}
.site-footer-wrap .flag.be{background-position:-48px -33px}
.site-footer-wrap .flag.br{background-position:-64px -44px}
.site-footer-wrap .flag.ca{background-position:-80px -55px}
.site-footer-wrap .flag.dk{background-position:-96px -66px}
.site-footer-wrap .flag.fr{background-position:-112px -77px}
.site-footer-wrap .flag.de{background-position:-128px -88px}
.site-footer-wrap .flag.hk{background-position:-144px -99px}
.site-footer-wrap .flag.in{background-position:-128px -110px}
.site-footer-wrap .flag.ind{background-position:-112px -121px}
.site-footer-wrap .flag.ie{background-position:-96px -132px}
.site-footer-wrap .flag.it{background-position:-80px -143px}
.site-footer-wrap .flag.jp{background-position:-64px -154px}
.site-footer-wrap .flag.kr{background-position:-48px -165px}
.site-footer-wrap .flag.my{background-position:-32px -176px}
.site-footer-wrap .flag.mx{background-position:-16px -187px}
.site-footer-wrap .flag.nl{background-position:0 -198px}
.site-footer-wrap .flag.nz{background-position:-16px -209px}
.site-footer-wrap .flag.no{background-position:-32px -220px}
.site-footer-wrap .flag.ph{background-position:-48px -231px}
.site-footer-wrap .flag.sg{background-position:-64px -242px}
.site-footer-wrap .flag.es{background-position:-80px -253px}
.site-footer-wrap .flag.se{background-position:-96px -264px}
.site-footer-wrap .flag.tw{background-position:-112px -275px}
.site-footer-wrap .flag.th{background-position:-128px -286px}
.site-footer-wrap .flag.uk{background-position:-144px -297px}
.site-footer-wrap .flag.us{background-position:-96px -330px}
.site-footer-wrap .flag.vn{background-position:-128px -308px}
.site-footer-wrap .flag.fi{background-position:-112px -319px}
.site-footer-wrap .flag.cn{background-position:-80px -341px}
.site-footer-wrap .flag.ch{background-position:-64px -351px}
.site-footer-wrap #footer-links-note,.site-footer-wrap #legal,.site-footer-wrap .legal,.site-footer-wrap .footer-copyright-msg{float:left;clear:left;margin-top:.70588235em;color:#616161;font-size:.7647058823529411em}
.site-footer-wrap #footer-links-note a,.site-footer-wrap #legal a,.site-footer-wrap .legal a,.site-footer-wrap .footer-copyright-msg a,.site-footer-wrap #footer-links-note a:hover,.site-footer-wrap #legal a:hover,.site-footer-wrap .legal a:hover,.site-footer-wrap .footer-copyright-msg a:hover{color:#616161}
.site-footer-wrap .other-partner-links h6{display:none}
.site-footer-wrap .footer-list-container{margin-top:1.05882353em}
.site-footer-wrap .footer-list-container .xp-t-xsmall{float:left;color:#616161;font-size:.7647058823529411em;font-weight:bold}
.site-footer-wrap .footer-list-container .footer-list{margin-top:-0.23529412em}
.site-footer-wrap .badge-container,.site-footer-wrap .footer-copyright-msg{clear:both;text-align:center;padding-top:.70588235em}
.site-footer-wrap .badge-container a,.site-footer-wrap .footer-copyright-msg a{display:inline-block;text-align:center}
.site-footer-wrap .badge-container a{display:inline-block;text-decoration:none}
.site-footer-wrap .badge-container a:first-child{margin-right:.35294118em}
.site-footer-wrap .footer-copyright-msg{float:none;clear:both}
.site-footer-wrap .trip-planning-links.links-summary{margin-bottom:2.82352941em}
.site-footer-wrap .trip-planning-links.links-summary>.cols-row{padding-top:0;padding-bottom:1.41176471em}
.site-footer-wrap .trip-planning-links.links-summary .links-description{width:40%;margin-left:0}
.site-footer-wrap .trip-planning-links.links-summary .links-description.no-links-list{width:100%;float:none;margin-bottom:1.41176471em}
.site-footer-wrap .trip-planning-links.links-summary .links-description p,.site-footer-wrap .trip-planning-links.links-summary .links-description h5{font-size:.6470588235294118em}
.site-footer-wrap .trip-planning-links.links-summary .links-description h5{margin-bottom:.54545455em}
.site-footer-wrap .trip-planning-links.links-summary #footer-links-note{font-size:.6470588235294118em}
.site-footer-wrap .trip-planning-links.links-summary .links-list{width:55%;clear:none;float:right}
.site-footer-wrap .trip-planning-links.links-summary .links-list ul{margin-left:0}
.site-footer-wrap .trip-planning-links.links-summary .links-list ul li{float:left;width:31%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:.6470588235294118em;margin-bottom:.27272727em}
.site-footer-wrap .toggle-trigger .icon-expand,.site-footer-wrap .toggle-trigger.open .icon-expand{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);top:.05882353em}
.site-footer-wrap .toggle-trigger.viewed .icon-expand{position:relative;-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);top:0}
.lt-ie9 .site-footer-wrap .flag{width:16px;height:11px;text-indent:-999em;overflow:hidden !important;display:block !important;background-image:url(/static/default/default/images/new-footer/flags-ie8.png) !important}
.lt-ie9 .site-footer-background{margin-bottom:-1.41176471em}
.lt-ie9 .toggle-trigger:hover{color:#616161}
.lt-ie9 .toggle.open .icon-expand:after{background-image:url(/static/default/default/images/new-footer/icon-collapsed-ie8.png)}
.lt-ie9 .toggle.viewed .icon-expand:after{background-image:url(/static/default/default/images/new-footer/icon-expanded-ie8.png)}
@media only screen and (max-width:59.9375em){.site-footer-wrap .trip-planning-links .links-description,.site-footer-wrap .trip-planning-links.links-summary .links-description,.site-footer-wrap .trip-planning-links .links-list,.site-footer-wrap .trip-planning-links.links-summary .links-list{float:none;width:auto;margin:0}
.site-footer-wrap .trip-planning-links .links-description,.site-footer-wrap .trip-planning-links.links-summary .links-description{margin-bottom:.35294118em}
.site-footer-wrap .trip-planning-links .links-list ul,.site-footer-wrap .trip-planning-links.links-summary .links-list ul{margin:0;padding-left:0}
.site-footer-wrap .trip-planning-links .links-list ul li,.site-footer-wrap .trip-planning-links.links-summary .links-list ul li{width:23%}
}