.uitk-card,.uitk-card-media{position:relative}
.uitk-card{background:#fff;border-radius:2px}
.uitk-card-media .uitk-image{border-radius:2px 2px 0 0}
.uitk-cell+.uitk-card-media .uitk-image{border-radius:0}
.uitk-card-content{padding:1rem}
.uitk-card-content.all-cell-shrink{padding-left:0}
.uitk-card-actions{padding:.5rem}
.uitk-card-link{display:block;position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;text-indent:150%;white-space:nowrap;z-index:1}
.uitk-card .has-action{position:relative}
.uitk-card-separator-top{border-top:1px solid}
.uitk-card-separator-bottom{border-bottom:1px solid}
.uitk-card-media[class*=all-cell-] .uitk-image{border-radius:2px 0 0 2px}
@media screen and (max-width:29.9375em){.uitk-card-media[class*=s-cell-] .uitk-image{border-radius:2px 0 0 2px}
}
@media screen and (min-width:30em) and (max-width:52.4375em){.uitk-card-media[class*=m-cell-] .uitk-image{border-radius:2px 0 0 2px}
}
@media screen and (min-width:52.5em){.uitk-card-media[class*=l-cell-] .uitk-image{border-radius:2px 0 0 2px}
}
.right-align{text-align:right}
.uitk-carousel{position:relative}
.uitk-carousel-wrap{overflow-x:scroll;-webkit-overflow-scrolling:touch}
.no-touch.uitk-carousel.is-enabled .uitk-carousel-wrap{overflow-x:hidden}
.uitk-carousel-items{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.uitk-carousel-items.uitk-grid[class*=grid-nowrap]{overflow:visible}
.all-carousel-peek.is-enabled .uitk-carousel-items{padding-right:15%}
.uitk-carousel-items:not(.is-animating){transition-duration:unset !important}
.uitk-carousel-pagecontrol{top:50%;z-index:1;opacity:0}
.uitk-carousel-pagecontrol.uitk-button{position:absolute;margin-top:-1.5rem}
.uitk-carousel-pagecontrol.uitk-button+.uitk-button{margin-top:-1.5rem;margin-left:0}
.uitk-carousel-pagecontrol *{pointer-events:none}
.uitk-carousel-pagecontrol-prev{left:1rem}
.uitk-carousel-pagecontrol-next{right:1rem}
.uitk-carousel-pagecontrol:focus{opacity:1}
.uitk-carousel:hover.no-touch .uitk-carousel-pagecontrol:not([disabled]){opacity:1}
.uitk-carousel:hover.no-touch .uitk-carousel-pagecontrol[disabled]{opacity:.36;cursor:default}
.no-touch .uitk-carousel-items:not(.is-animating) .uitk-carousel-item[aria-hidden]{visibility:hidden}
.all-carousel-peek .uitk-carousel-item:not([aria-hidden])+.uitk-carousel-item[aria-hidden],.uitk-carousel-items:not(.is-animating) .uitk-carousel-item[aria-hidden]{visibility:visible}
.site-content{padding-left:1.41176em}
.deals-containers{margin-bottom:1.41176471em !important}
.flex{display:-webkit-flex;display:flex}
.white-bg{background-color:#fff}
.center-align{text-align:center}
.right-align{text-align:right}
.left-align{text-align:left}
.black{color:#1f1f1f;font-weight:bold}
.sucess{color:#477a00}
figure{margin:0}
.star-rating .icon{color:#404040}
.uitk-card-content *{margin:0}
.uitk-grid.all-y-gutter-12{margin-top:0}
.uitk-card{font-family:Helvetica Neue;border:0}
.uitk-card-header{background:#1f1f1f;padding:.35294118em}
.uitk-card-header h3{color:#fff;margin:0}
.uitk-card-content{position:relative}
.uitk-card:hover .uitk-card-content{background-color:#edf7ff}
.uitk-card-content .v-gutter-12{margin-bottom:.70588235em}
.uitk-card-content .v-gutter-6{margin-bottom:.35294118em}
.uitk-card-footer{background:#ededed;padding:.70588235em;z-index:2}
.uitk-card-footer:hover{text-decoration:underline}
.carrier-logo{max-height:20px}
.vip-badge{display:inline-block;margin-left:.35294118em}
.uitk-card-media .card-badge{position:absolute;top:1.41176471em}
.card-badge{font-size:.76470588em;padding:.35294118em;margin-bottom:.35294118em}
.check-price-badge{padding:.58823529em}
.card-figure-heading{color:#fff;font-weight:normal;font-size:17px;background-color:#000;background-color:rgba(0,0,0,0.5);position:absolute;top:0;left:0;margin:0;padding:.35294118em .58823529em .35294118em .58823529em}
.vertical-card{flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;width:100%}
.vertical-card .uitk-card-content{text-align:center}
.vertical-card .expand-content{-webkit-flex:1 1 auto;-ms-flex:1 1 auto}
.vertical-card .separator{margin:.70588235em 0 .70588235em 0 !important;border-top:1px solid #ededed}
.vertical-card .uitk-card-footer{text-align:center}
.horizontal-card{-webkit-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-flex-wrap:wrap}
.horizontal-card .expand-content{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;width:1px}
.horizontal-card .uitk-card-header,.horizontal-card .uitk-card-footer{width:100%}
.horizontal-card .uitk-card-header{text-align:left}
.horizontal-card .uitk-card-footer{text-align:right}
.horizontal-card .separator{margin:0 !important;border-left:1px solid #ededed}
.horizontal-card .card-check-price{align-self:center}
.horizontal-card .card-badge{margin-bottom:.35294118em}